<article class="diary bg-light-100 position-relative">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <div class="d-flex align-items-center border-bottom border-dark p-4">
          <img src="../images/andychen.jpeg" alt="avartar" class="rounded-circle img">
          <div class="ms-4 text-dark">
            <p class="fw-bold fs-5">Austin Hsu</p>
            <p>Your personal account</p>
          </div>
        </div>
        <div class="list-group-flush list-group flex-row flex-md-column" id="list-tab" role="tablist">
          <a class="d-block list-group-item list-group-item-action active" id="list-profile-list" data-bs-toggle="list"
            href="#list-diary" role="tab" aria-controls="list-diary">健康日誌</a>
          <a class="d-block list-group-item list-group-item-action" id="list-home-list" data-bs-toggle="list"
            href="#list-member" role="tab" aria-controls="list-member">個人基本資料</a>
        </div>
      </div>
      <div class="col-md-8 ">

        <div class="tab-content vh-100" id="nav-tabContent">
          {{!-- 健康日誌 --}}
          <div class="tab-pane py-6 h-100 fade show active" id="list-diary" role="tabpanel"
            aria-labelledby="list-profile-list">

            <p class="mb-6 border-bottom border-dark fs-5">健康紀錄</p>

            <div class="px-4 table-wrapper scrollbar mt-5">
              <table class="diary__table table table-hover table-striped ">
                <thead class="text-center text-dark">
                  <tr class="fw-bold">
                    <th scope="col">性別</th>
                    <th scope="col">年齡</th>
                    <th scope="col">身高</th>
                    <th scope="col">體重</th>
                    <th scope="col">BMI</th>
                    <th scope="col">肥胖定義</th>
                    <th scope="col">體脂率</th>
                    <th scope="col">Body&Mind</th>
                  </tr>
                </thead>
                <tbody class="text-center table-group-divider text-dark">
                  {{#each test}}
                  <tr>
                    {{!-- <th scope="row">{{this.date}}</th> --}}
                    <th scope="row">{{this.gender}}</th>
                    <th scope="row">{{this.age}}</th>
                    <th scope="row" class="height">{{this.height}}</th>
                    <th scope="row" class="weight">{{this.weight}}</th>
                    <th scope="row" class="bmi">X</th>
                    <th scope="row" class="fatty">X</th>
                    <th scope="row" class="bodyfat">X</th>
                    <th scope="row" class="mood">
                      <span class="material-symbols-outlined align-middle mood__icon">
                        sentiment_very_satisfied
                      </span>

                      <input type="checkbox" class="moodToggle">

                      <div class="mood__record p-4 d-flex flex-column text-dark d-none">
                        <div class="py2 text-start">
                          <p class="mb-1 border-bottom border-primary fw-bold">隱性飢餓症狀:</p>
                          <p class="px-2">{{this.sympton}}</p>
                        </div>
                        <div class="py-2 text-start">
                          <p class="mb-1 border-bottom border-primary fw-bold">心情:</p>
                          <p class="px-2">{{this.moodrecord}}</p>
                        </div>
                      </div>
                    </th>

                  </tr>

                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
          {{!-- 會員資料 --}}
          <div class=" tab-pane text-dark py-6 fade" id="list-member" role="tabpanel" aria-labelledby="list-home-list">
            <p class="mb-4 border-bottom border-dark fs-5">會員資料</p>

            <form action="" method="POST"
              class="row flex-column flex-column-reverse align-items-center flex-md-row align-items-md-start">
              <div class="col-10 col-md-8">
                <p class="mb-2 border-bottom border-primary mt-4 mt-md-0">使用者姓名修改</p>
                <div class="mb-4">
                  <label for="name" class="form-label">使用者姓名</label>
                  <input type="text" class="form-control" id="name" value="Austin Hsu">
                </div>
                <p class="mb-2 border-bottom border-primary">使用者密碼修改</p>
                <div class="mb-3">
                  <label for="password" class="form-label">輸入舊密碼</label>
                  <input type="password" class="form-control" id="password">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">輸入新密碼</label>
                  <input type="password" class="form-control" id="password1">
                </div>
                <div class="mb-4">
                  <label for="password" class="form-label">新密碼確認</label>
                  <input type="password" class="form-control" id="password2">
                </div>
                <p class="mb-2 border-bottom border-primary">使用者信箱修改</p>
                <div class="mb-4">
                  <label for="email" class="form-label">使用者信箱</label>
                  <input type="email" class="form-control" id="email" value="autin.hsu@gmail.com">
                </div>
                <p class="mb-2 border-bottom border-primary">使用者生日</p>
                <div class="mb-4">
                  <label for="birth" class="form-label">使用者生日</label>
                  <input type="text" class="form-control" id="birth" name="datepicker">
                </div>
                <button type="submit" class="btn btn__primary link-light">變更儲存</button>
              </div>
              <div class="col-10 col-md-4">
                <div class="mx-auto rounded-circle img_edit position-relative">
                  <input type="file"
                    class="form-control img_editbtn p-2 rounded-3 text-center position-absolute bottom-0 start-0"
                    id="avatar" name="avatar" placeholder="編輯頭照">
                </div>
              </div>
            </form>

          </div>
        </div>

      </div>

    </div>
  </div>
  <img src="../images/illust-branch@2x.png" alt="tree" class="diary__tree position-absolute bottom-0 start-0">
</article>

<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker-full.min.js"></script>
<script src="/javascript/diary.js"></script>