<article class="foods bg-light-100">
  <div class="foods__wrap">
    <div class="container">
      {{!-- phone rwd --}}
      <div class="h-50 pt-12 d-md-none">
        <form action="/foods/search" class="foods__form py-4 px-4 px-lg-8 py-lg-12">
          <div class="row justify-content-center">
            {{!-- 食物分類 --}}
            <div class="col-10 col-md-4">
              <div class="foods__category my-2">
                <select class="form-select form-select" name="category" aria-label=".form-select example">
                  <option> 六大食物全部 </option>
                  <option value="1">全穀雜糧類</option>
                  <option value="2">蛋豆魚肉類</option>
                  <option value="3">乳品類</option>
                  <option value="3">蔬菜類</option>
                  <option value="3">水果類</option>
                  <option value="3">油脂與堅果種子類</option>
                </select>
              </div>
            </div>
            {{!-- 維生素分類 --}}
            <div class="col-10 col-md-4">
              <div class="foods__vitamin mx-auto my-2">
                <select class="form-select form-select" name="vitamin" aria-label=".form-select example">
                  <option> 維生素 </option>
                  <option value="vitaminA">維生素A</option>
                  <option value="vitaminB">維生素B</option>
                  <option value="vitaminD">維生素D</option>
                  <option value="vitaminE">維生素E</option>
                </select>
              </div>
            </div>
            <div class="col-10 col-md-4">
              <div class="foods__vitamin my-2">
                <select class="form-select form-select" name="mineral" aria-label=".form-select example">
                  <option> 礦物質 </option>
                  <option value="calcium">鈣</option>
                  <option value="iron">鐵</option>
                  <option value="magnesium">鎂</option>
                  <option value="zinc">鋅</option>
                  <option value="iodine">碘</option>
                </select>
              </div>
            </div>
            <div class="col-10">
              <div class="input-group my-2">
                <input type="text" class="form-control" placeholder="輸入食物名稱、類別" aria-label="food search"
                  aria-describedby="search-button">
                <button type="submit" name="category" class="btn btn-warning btn__search text-white">搜尋</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="foods__cards">
    <div class="container d-flex">
      {{!-- md rwd --}}
      <div class="foods__form me-4 pe-4 d-none d-md-block">
        <form>
          <div class="foods__category mx-auto my-2 mb-md-4">
            <p class="py-2 fw-bold border-bottom border-dark text-dark">六大食物分類</p>
            <select class="form-select form-select mt-4" name="category" aria-label=".form-select example">
              <option> 六大食物全部 </option>
              <option value="1">全穀雜糧類</option>
              <option value="2">蛋豆魚肉類</option>
              <option value="3">乳品類</option>
              <option value="3">蔬菜類</option>
              <option value="3">水果類</option>
              <option value="3">油脂與堅果種子類</option>
            </select>
            <p class="py-2 mb-4 fw-bold border-bottom border-dark text-dark">營養素分類</p>
            {{!-- 維生素 --}}
            <div class="d-md-flex flex-column">
              <div class="form-check ms-4">
                <input class="form-check-input" type="checkbox" name="vitamin" id="vitaminA">
                <label class="form-check-label" for="vitaminA">
                  維生素A
                </label>
              </div>
              <div class="form-check ms-4">
                <input class="form-check-input" type="checkbox" name="vitamin" id="vitaminC">
                <label class="form-check-label" for="vitaminC">
                  維生素C
                </label>
              </div>
              <div class="form-check ms-4">
                <input class="form-check-input" type="checkbox" name="vitamin" id="vitaminD">
                <label class="form-check-label" for="vitaminD">
                  維生素D
              </div>
              <div class="form-check ms-4">
                <input class="form-check-input" type="checkbox" name="vitamin" id="vitaminE">
                <label class="form-check-label" for="vitaminE">
                  維生素E
                </label>
              </div>

            </div>
            {{!-- 礦物質 --}}
            <div class="d-md-flex flex-column">
              <div class="form-check ms-4">
                <input class="form-check-input" type="checkbox" name="mineral" id="calcium">
                <label class="form-check-label" for="calcium">
                  鈣Calcium
                </label>
              </div>
              <div class="form-check ms-4">
                <input class="form-check-input" type="checkbox" name="mineral" id="iron">
                <label class="form-check-label" for="iron">
                  鐵Iron
                </label>
              </div>
              <div class="form-check ms-4">
                <input class="form-check-input" type="checkbox" name="mineral" id="magnesium">
                <label class="form-check-label" for="magnesium">
                  鎂Magnesium
                </label>
              </div>
              <div class="form-check ms-4">
                <input class="form-check-input" type="checkbox" name="mineral" id="zinc">
                <label class="form-check-label" for="zinc">
                  鋅Zinc
                </label>
              </div>
              <div class="form-check ms-4">
                <input class="form-check-input" type="checkbox" name="mineral" id="iodine">
                <label class="form-check-label" for="iodine">
                  碘Iodine
                </label>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn__outline-primary rounded-3 ms-4">搜尋</button>
        </form>
      </div>
      <div class="d-md-flex flex-md-column flex-grow-1">
        <form action="/foods/search" class="foods__search d-none d-md-block">
          <h4 class="mb-2 text-dark bw-fold fs-5">食物名稱搜尋：</h4>
          <div class="input-group">
            <input type="text" name="keyword" class="form-control" placeholder="輸入食物名稱、食物類別" value="{{keyword}}"
              aria-label="food_search" aria-describedby="search-button">
            <button class="btn btn-warning btn__search text-light" type="submit" id="search-button">搜尋</button>
          </div>
          {{#unless isResultExist}}
          <div class="searchResults">
            <p class="my-2 text-center text-danger fw-bold">找毋關鍵字"{{keyword}}"的搜尋結果，請再試一次，謝謝。
            </p>
          </div>
          {{/unless}}
        </form>
        <div class="row g-2 justify-content-center">
          {{!-- 搜尋功能 --}}
          {{#each forksmartData}}

          <div class="col-md-6 col-lg-3">
            <a href="/foods/{{this.id}}">
              <div class="card border-0 text-dark mt-4">
                <figure class=" card__imgWrap">
                  <img src="{{this.image}}" class="card__img" alt="apple">
                  <figcaption class="card__caption fw-bold">{{this.name_en}}</figcaption>
                </figure>
                <div class="card-body">
                  <h5 class="card-title py-1 border-bottom border-primary fw-bold">{{this.name}}</h5>
                  <p class="card-text">
                    <span class="material-icons align-top">
                      calendar_month
                    </span>
                    {{this.month}}
                  </p>
                </div>
              </div>
            </a>
          </div>
          {{/each}}

          {{!-- Pagnation --}}
          <nav aria-label="Page navigation d-flex ">
            <ul class="pagination justify-content-center my-6">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>

              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>
</article>

<script src="/javascript/food.js"></script>