<header class="header bg-light-100">

  <div class="container">

    <div class="row justify-content-center pt-10 header__banner">

      <div class="col-12 col-md-4 col-lg-5" data-aos="zoom-out-down" data-aos-duration="1500">
        <div class="header__title mt-6 text-dark text-center">
          <h2 class="mb-2 text-nowrap">掌握關鍵營養素</h2>
          <h2 class="mb-8 text-nowrap">吃出健康身體好</h2>
          <p class="text-primary mb-10 fs-4">打擊全民營養不良，健康飲食從自身做起</p>
          <a href="/user/register" class="btn btn__primary w-20 link-light">加入Fork Smart，馬上行動</a>
        </div>
      </div>
      <div class="col-12 col-md-8 col-lg-7" data-aos="zoom-in-left" data-aos-duration="1500">
        <img src="../images/bg_banner-02.png" alt="banner_pic" class="header__banner-img">
      </div>
    </div>
  </div>
</header>

<main class="bg-light-100">

  {{!-- TODO: HungryWarning Sections --}}
  <article class="hungryWarning position-relative" id="hungryWarning">

    <div class="container">
      {{!-- #1 --}}
      <div class="hungryWarning__info row justify-content-center align-items-center ">
        <div class="col-lg-6 col-md-5 col-8" data-aos="fade-right">
          <img src="/images/pic1.png" alt="hungry-warning" class="hungryWarning__img-pic1 mx-auto">
        </div>
        <div class="col-lg-6 col-md-6 col-10" data-aos="fade-left">
          <div class="hungryWarning__card bg-white mt-4 mt-md-0">
            <h3 class="fw-bold text-primary text-nowrap">別再忽略這些小毛病！<br>
              這是「隱性飢餓」的警訊</h3>
            <p class="text-dark">你是否有前一天睡飽飽，但是隔天仍然頻繁打哈欠的情況呢? <br>
              你是否經常抽筋、腰酸背痛和感到睡眠品質差呢?</p>
          </div>
        </div>
      </div>

      <img src="/images/branch022.png" alt="branch"
        class="hungryWarning__tree position-absolute top-50 end-0 translate-middle-y">

      {{!-- #2 --}}
      <div class="hungryWarning__info row align-items-center justify-content-center flex-column-reverse flex-md-row">
        <div class="col-lg-6 col-md-6 col-10" data-aos="fade-right">
          <div class="hungryWarning__card bg-white mt-4 mt-md-0">
            <h3 class="fw-bold text-primary text-nowrap">一起來搶救隱性飢餓吧<br>
              這是「隱性飢餓」的警訊</h3>
            <p class="text-dark mb-4">您是否覺得皮膚或嘴唇經常乾燥還伴隨著粗糙、脫皮呢？<br>
              您是否在洗頭或梳頭後，發現地板上有一堆掉髮呢？</p>
            <a href="/bodytest" class="btn btn__outline-primary">一起擁有健康體態</a>
          </div>
        </div>
        <div class="col-lg-6 col-md-5 col-8" data-aos="fade-left">
          <img src="/images/pic02.png" alt="hungry-warning2" class="hungryWarning__img-pic2 mx-suto">
        </div>
      </div>
    </div>
  </article>

  {{!-- TODO: Food Ctegory Section --}}
  <artical class="food position-relative" id="foodCategory">

    <img src="/images/illust-branch@2x.png" alt="branch" class="food__tree position-absolute top-0 start-0">

    <div class="food__wrap" data-aos="zoom-in-up">
      <div class="food__topImg">
        <img src="../images/bg-ground-top.png" alt="bg-ground-top">
        <img src="/images/422.png" alt="person" class="food__personStand">
      </div>

      <div class="food__bg-ground-btm">
        <div class="container">

          <h3 class="fs-2 fw-bold mt-4 mb-12 text-dark" data-aos="fade-up">不需要節食，只需要改變飲食習慣，吃對食物</h3>

          <div class="food__cardWrap mb-16 swiper foodswiper" data-aos="fade-up">

            <div class="swiper-wrapper">
              {{!-- #1 --}}
              {{#each forksmartData}}
              <div class="swiper-slide">
                <a href="/foods/{{this.id}}">
                  <div class="card border-0 text-dark mt-4">
                    <figure class=" card__imgWrap">
                      <img src="{{this.image}}" class="card__img" alt="apple">
                      <figcaption class="card__caption fw-bold">{{this.name_en}}</figcaption>
                    </figure>
                    <div class="card-body">
                      <h5 class="card-title py-1 border-bottom border-primary fw-bold">{{this.name}}</h5>
                      <p class="card-text">
                        <span class="material-icons align-top">
                          calendar_month
                        </span>
                        {{this.month}}
                      </p>
                    </div>
                  </div>
                </a>
              </div>
              {{/each}}

            </div>
          </div>
          <a href="/foods?page=1&limit=8" class="btn btn__primary w-15 link-light" data-aos="fade-up">了解食材，聰明飲食</a>

        </div>
      </div>

    </div>
  </artical>

</main>

{{> footer}}