<article class="show bg-light-100">
  <div class="container">
    {{!-- 上半部 --}}
    <div class="row pt-6 mb-12 align-items-center justify-content-center">

      <div class="col-10 col-md-10 col-lg-6">
        <div class="show__image">
          <img src="{{forksmartFood.show_image1}}" alt="apple" class="rounded-3 w-100">
        </div>
      </div>
      <div class="col-10 col-md-10 col-lg-6">
        <div class="mt-8">
          <div class="text-dark">
            <h2 class="fs-4 py-1 border-bottom border-dark">{{forksmartFood.name}} <span
                class="fs-5">{{forksmartFood.category}}</span></h2>
            <p class="p-4">{{forksmartFood.description}}</p>
          </div>
          <div class="show__vitamin text-dark">
            <h2 class="fs-4 py-1 border-bottom border-dark">Vitamin維他命</h2>
            <div class="show__vitamin-progress p-4 ">
              <div class="d-flex align-items-center justify-content-center mt-3">
                <a href="#" role="button" class="mt-2 mt-md-0 me-4 show__vitamin-name text-nowrap hvr-float-shadow"
                  data-bs-toggle="modal" data-bs-target="#vitaminModal" data-name="#vitaminA-tab">維生素A</a>
                <div class="bar" data-label="A">
                  <div class="progressbar" data-done="{{forksmartFood.vitaminA}}">{{forksmartFood.vitaminA}}mg</div>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center mt-3">
                <a href="#" role="button" class="mt-2 mt-md-0 me-4 show__vitamin-name text-nowrap hvr-float-shadow"
                  data-bs-toggle="modal" data-bs-target="#vitaminModal" data-name="#vitaminB-tab">維生素B</a>
                <div class="bar" data-label="B">
                  <div class="progressbar" data-done="{{forksmartFood.vitaminB}}">{{forksmartFood.vitaminB}}mg</div>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center mt-3">
                <a href="#" role="button" class="mt-2 mt-md-0 me-4 show__vitamin-name text-nowrap hvr-float-shadow"
                  data-bs-toggle="modal" data-bs-target="#vitaminModal" data-name="#vitaminD-tab">維生素D</a>
                <div class="bar" data-label="D">
                  <div class="progressbar" data-done="{{forksmartFood.vitaminD}}">{{forksmartFood.vitaminD}}mg</div>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center mt-3">
                <a href="#" role="button" class="mt-2 mt-md-0 me-4 show__vitamin-name text-nowrap hvr-float-shadow"
                  data-bs-toggle="modal" data-bs-target="#vitaminModal" data-name="#vitaminE-tab">維生素E</a>
                <div class="bar" data-label="{{forksmartFood.vitaminE}}">
                  <div class="progressbar" data-done="5">{{forksmartFood.vitaminE}}mg</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!-- 下半部 --}}
    <div class="row pb-12 flex-column-reverse flex-lg-row align-items-center justify-content-center">
      <div class="col-10 col-md-10 col-lg-6">
        <div class="mt-8">
          <div class="text-dark">
            <h2 class="fs-4 py-1 border-bottom border-dark">新鮮月份</h2>
            <div class="row gx-3 flex-wrap my-2">
              <div class="col-2 mt-2">
                <div class="show__month show__month--1" data-label="Jan.">
                  <span class="material-symbols-outlined d-block text-center pt-1">
                    calendar_month
                  </span>
                </div>
              </div>
              <div class="col-2 mt-2">
                <div class="show__month show__month--2" data-label="Feb.">
                  <span class="material-symbols-outlined d-block text-center pt-1">
                    calendar_month
                  </span>
                </div>
              </div>
              <div class="col-2 mt-2">
                <div class="show__month show__month--3" data-label="Mar.">
                  <span class="material-symbols-outlined d-block text-center pt-1">
                    calendar_month
                  </span>
                </div>
              </div>
              <div class="col-2 mt-2">
                <div class="show__month show__month--4" data-label="Apr.">
                  <span class="material-symbols-outlined d-block text-center pt-1">
                    calendar_month
                  </span>
                </div>
              </div>
              <div class="col-2 mt-2">
                <div class="show__month show__month--5" data-label="May.">
                  <span class="material-symbols-outlined d-block text-center pt-1">
                    calendar_month
                  </span>
                </div>
              </div>
              <div class="col-2 mt-2">
                <div class="show__month show__month--6" data-label="Jun.">
                  <span class="material-symbols-outlined d-block text-center pt-1">
                    calendar_month
                  </span>
                </div>
              </div>
              <div class="col-2 mt-2">
                <div class="show__month show__month--7" data-label="Jul.">
                  <span class="material-symbols-outlined d-block text-center pt-1">
                    calendar_month
                  </span>
                </div>
              </div>
              <div class="col-2 mt-2">
                <div class="show__month show__month--8" data-label="Aug.">
                  <span class="material-symbols-outlined d-block text-center pt-1">
                    calendar_month
                  </span>
                </div>
              </div>
              <div class="col-2 mt-2">
                <div class="show__month show__month-noSeason show__month--9" data-label="Sep.">
                  <span class="material-symbols-outlined d-block text-center pt-1">
                    calendar_month
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="show__mineral text-dark">
            <h2 class="fs-4 py-1 border-bottom border-dark">Mineral礦物質</h2>
            <div class="show__mineral-progress p-4 ">
              <div class="d-flex align-items-center justify-content-center mt-3">
                <a href="#" class="mt-2 mt-md-0 me-4 show__mineral-name text-nowrap hvr-float-shadow"
                  data-bs-toggle="modal" data-bs-target="#mineralModal" data-name="#mineral-calcium">鈣</a>
                <div class="bar" data-label="calcium">
                  <div class="progressbar" data-done="{{forksmartFood.calcium}}">{{forksmartFood.calcium}}mg</div>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center mt-3">
                <a href="#" class="mt-2 mt-md-0 me-4 show__mineral-name text-nowrap hvr-float-shadow"
                  data-bs-toggle="modal" data-bs-target="#mineralModal" data-name="#mineral-iron">鐵</a>
                <div class="bar" data-label="iron">
                  <div class="progressbar" data-done="{{forksmartFood.iron}}">{{forksmartFood.iron}}mg</div>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center mt-3">
                <a href="#" class="mt-2 mt-md-0 me-4 show__mineral-name text-nowrap hvr-float-shadow"
                  data-bs-toggle="modal" data-bs-target="#mineralModal" data-name="#mineral-magnesium">鎂</a>
                <div class="bar" data-label="magnesium">
                  <div class="progressbar" data-done="{{forksmartFood.magnesium}}">{{forksmartFood.magnesium}}mg</div>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center mt-3">
                <a href="#" class="mt-2 mt-md-0 me-4 show__mineral-name text-nowrap hvr-float-shadow"
                  data-bs-toggle="modal" data-bs-target="#mineralModal" data-name="#mineral-zinc">鋅</a>
                <div class="bar" data-label="zinc">
                  <div class="progressbar" data-done="{{forksmartFood.zinc}}">{{forksmartFood.zinc}}mg</div>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center mt-3">
                <a href="#" class="mt-2 mt-md-0 me-4 show__mineral-name text-nowrap hvr-float-shadow"
                  data-bs-toggle="modal" data-bs-target="#mineralModal" data-name="#mineral-iodine">碘</a>
                <div class="bar" data-label="iodine">
                  <div class="progressbar" data-done="{{forksmartFood.iodine}}">{{forksmartFood.iodine}}mg</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-10 col-md-10 col-lg-6">
        <div class="show__image">
          <img src="{{forksmartFood.show_image2}}" class="w-100 rounded-3" alt="apple">
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

  {{!-- Vitamin Modal --}}
  <div class="modal" tabindex="-1" id="vitaminModal" tabindex="-1" aria-labelledby="vitaminModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content p-2">
        <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-body">

          <ul class="nav nav-tabs" id="myTab" role="tablist" style="height:auto">
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="vitaminA" data-bs-toggle="tab" data-bs-target="#vitaminA-tab" type="button"
                role="tab" aria-controls="vitaminA-tab" aria-selected="false">{{vitamin.vitaminA.vit_name}}</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="vitaminB" data-bs-toggle="tab" data-bs-target="#vitaminB-tab" type="button"
                role="tab" aria-controls="vitaminB-tab" aria-selected="true">{{vitamin.vitaminB.vit_name}}</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="vitaminD" data-bs-toggle="tab" data-bs-target="#vitaminD-tab" type="button"
                role="tab" aria-controls="vitaminD-tab" aria-selected="false">{{vitamin.vitaminD.vit_name}}</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="vitaminE" data-bs-toggle="tab" data-bs-target="#vitaminE-tab" type="button"
                role="tab" aria-controls="vitaminE-tab" aria-selected="false">{{vitamin.vitaminE.vit_name}}</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade " id="vitaminA-tab" role="tabpanel" aria-labelledby="vitaminA" tabindex="0">
              <div class="row justify-content-center text-dark">
                <div class="col-md-5 col-11 p-md-4">
                  <p class="fw-bold text-nowrap mt-2 mt-md-0">功效:</p>
                  <p>{{vitamin.vitaminA.vit_effect}}</p>
                </div>
                <div class="col-md-7 col-11 p-md-4">
                  <div class="py-2 py-md-0 mb-md-2">
                    <p class="fw-bold text-nowrap">攝取過多時:</p>
                    <p>{{vitamin.vitaminA.vit__tooMuch}}</p>
                  </div>
                  <div class="py-2 py-md-0">
                    <p class="fw-bold text-nowrap">攝取過少時:</p>
                    <p>{{vitamin.vitaminA.vit__tooLess}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="vitaminB-tab" role="tabpanel" aria-labelledby="vitaminB" tabindex="0">
              <div class="row justify-content-center text-dark">
                <div class="col-md-5 col-11 p-md-4">
                  <p class="fw-bold text-nowrap mt-2 mt-md-0">功效:</p>
                  <p>{{vitamin.vitaminB.vit_effect}}</p>
                </div>
                <div class="col-md-7 col-11 p-md-4">
                  <div class="py-2 py-md-0 mb-md-2">
                    <p class="fw-bold text-nowrap">攝取過多時:</p>
                    <p>{{vitamin.vitaminB.vit__tooMuch}}</p>
                  </div>
                  <div class="py-2 py-md-0">
                    <p class="fw-bold text-nowrap">攝取過少時:</p>
                    <p>{{vitamin.vitaminB.vit__tooLess}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="vitaminD-tab" role="tabpanel" aria-labelledby="vitaminD" tabindex="0">
              <div class="row justify-content-center text-dark">
                <div class="col-md-5 col-11 p-md-4">
                  <p class="fw-bold text-nowrap mt-2 mt-md-0">功效:</p>
                  <p>{{vitamin.vitaminD.vit_effect}}</p>
                </div>
                <div class="col-md-7 col-11 p-md-4">
                  <div class="py-2 py-md-0 mb-md-2">
                    <p class="fw-bold text-nowrap">攝取過多時:</p>
                    <p>{{vitamin.vitaminD.vit__tooMuch}}</p>
                  </div>
                  <div class="py-2 py-md-0">
                    <p class="fw-bold text-nowrap">攝取過少時:</p>
                    <p>{{vitamin.vitaminD.vit__tooLess}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="vitaminE-tab" role="tabpanel" aria-labelledby="vitaminE" tabindex="0">
              <div class="row justify-content-center text-dark">
                <div class="col-md-5 col-11 p-md-4">
                  <p class="fw-bold text-nowrap mt-2 mt-md-0">功效:</p>
                  <p>{{vitamin.vitaminE.vit_effect}}</p>
                </div>
                <div class="col-md-7 col-11 p-md-4">
                  <div class="py-2 py-md-0 mb-md-2">
                    <p class="fw-bold text-nowrap">攝取過多時:</p>
                    <p>{{vitamin.vitaminE.vit__tooMuch}}</p>
                  </div>
                  <div class="py-2 py-md-0">
                    <p class="fw-bold text-nowrap">攝取過少時:</p>
                    <p>{{vitamin.vitaminE.vit__tooLess}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{!-- Mineral Modal --}}
  <div class="modal" tabindex="-1" id="mineralModal" tabindex="-1" aria-labelledby="mineralModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content p-2">
        <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-body">

          <ul class="nav nav-tabs" id="myMineral" role="tablist" style="height:auto">

            <li class="nav-item" role="presentation">
              <button class="nav-link" id="calcium" data-bs-toggle="tab" data-bs-target="#mineral-calcium" type="button"
                role="tab" aria-controls="mineral-calcium" aria-selected="false">{{mineral.calcium.min_name}}</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="iron" data-bs-toggle="tab" data-bs-target="#mineral-iron" type="button"
                role="tab" aria-controls="mineral-iron" aria-selected="false">{{mineral.iron.min_name}}</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="magnesium" data-bs-toggle="tab" data-bs-target="#mineral-magnesium"
                type="button" role="tab" aria-controls="mineral-magnesium"
                aria-selected="false">{{mineral.magnesium.min_name}}</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="zinc" data-bs-toggle="tab" data-bs-target="#mineral-zinc" type="button"
                role="tab" aria-controls="mineral-zinc" aria-selected="false">{{mineral.zinc.min_name}}</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="iodine" data-bs-toggle="tab" data-bs-target="#mineral-iodine" type="button"
                role="tab" aria-controls="mineral-iodine" aria-selected="false">{{mineral.iodine.min_name}}</button>
            </li>
          </ul>
          <div class="tab-content" id="myMineralContent">
            <div class="tab-pane fade" id="mineral-calcium" role="tabpanel" aria-labelledby="calcium" tabindex="0">
              <div class="row justify-content-center text-dark">
                <div class="col-md-5 col-11 p-md-4">
                  <p class="fw-bold text-nowrap mt-2 mt-md-0">功效:</p>
                  <p>{{mineral.calcium.min_effect}}</p>
                </div>
                <div class="col-md-7 col-11 p-md-4">
                  <div class="py-2 py-md-0 mb-md-2">
                    <p class="fw-bold text-nowrap">攝取過多時:</p>
                    <p>{{mineral.calcium.min__tooMuch}}</p>
                  </div>
                  <div class="py-2 py-md-0">
                    <p class="fw-bold text-nowrap">攝取過少時:</p>
                    <p>{{mineral.calcium.min__tooLess}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="mineral-iron" role="tabpanel" aria-labelledby="iron" tabindex="0">
              <div class="row justify-content-center text-dark">
                <div class="col-md-5 col-11 p-md-4">
                  <p class="fw-bold text-nowrap mt-2 mt-md-0">功效:</p>
                  <p>{{mineral.iron.min_effect}}</p>
                </div>
                <div class="col-md-7 col-11 p-md-4">
                  <div class="py-2 py-md-0 mb-md-2">
                    <p class="fw-bold text-nowrap">攝取過多時:</p>
                    <p>{{mineral.iron.min__tooMuch}}</p>
                  </div>
                  <div class="py-2 py-md-0">
                    <p class="fw-bold text-nowrap">攝取過少時:</p>
                    <p>{{mineral.iron.min__tooLess}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="mineral-magnesium" role="tabpanel" aria-labelledby="magnesium" tabindex="0">
              <div class="row justify-content-center text-dark">
                <div class="col-md-5 col-11 p-md-4">
                  <p class="fw-bold text-nowrap mt-2 mt-md-0">功效:</p>
                  <p>{{mineral.magnesium.min_effect}}</p>
                </div>
                <div class="col-md-7 col-11 p-md-4">
                  <div class="py-2 py-md-0 mb-md-2">
                    <p class="fw-bold text-nowrap">攝取過多時:</p>
                    <p>{{mineral.magnesium.min__tooMuch}}</p>
                  </div>
                  <div class="py-2 py-md-0">
                    <p class="fw-bold text-nowrap">攝取過少時:</p>
                    <p>{{mineral.magnesium.min__tooLess}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="mineral-zinc" role="tabpanel" aria-labelledby="zinc" tabindex="0">
              <div class="row justify-content-center text-dark">
                <div class="col-md-5 col-11 p-md-4">
                  <p class="fw-bold text-nowrap mt-2 mt-md-0">功效:</p>
                  <p>{{mineral.zinc.min_effect}}</p>
                </div>
                <div class="col-md-7 col-11 p-md-4">
                  <div class="py-2 py-md-0 mb-md-2">
                    <p class="fw-bold text-nowrap">攝取過多時:</p>
                    <p>{{mineral.zinc.min__tooMuch}}</p>
                  </div>
                  <div class="py-2 py-md-0">
                    <p class="fw-bold text-nowrap">攝取過少時:</p>
                    <p>{{mineral.zinc.min__tooLess}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="mineral-iodine" role="tabpanel" aria-labelledby="iodine" tabindex="0">
              <div class="row justify-content-center text-dark">
                <div class="col-md-5 col-11 p-md-4">
                  <p class="fw-bold text-nowrap mt-2 mt-md-0">功效:</p>
                  <p>{{mineral.iodine.min_effect}}</p>
                </div>
                <div class="col-md-7 col-11 p-md-4">
                  <div class="py-2 py-md-0 mb-md-2">
                    <p class="fw-bold text-nowrap">攝取過多時:</p>
                    <p>{{mineral.iodine.min__tooMuch}}</p>
                  </div>
                  <div class="py-2 py-md-0">
                    <p class="fw-bold text-nowrap">攝取過少時:</p>
                    <p>{{mineral.iodine.min__tooLess}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</article>

<script src="/javascript/show.js"></script>