<article class="show bg-light-100">
  <div class="container">
    {{!-- 上半部 --}}
    <div class="row pt-6 mb-12 align-items-center justify-content-center">

      <div class="col-10 col-md-10 col-lg-6">
        <div class="show__image">
          <img src="{{forksmartFood.show_image1}}" alt="apple" class="rounded-3 w-100">
        </div>
      </div>
      <div class="col-10 col-md-10 col-lg-6">
        <div class="mt-8">
          <div class="text-dark">
            <h2 class="fs-4 py-1 border-bottom border-dark">{{forksmartFood.name}} <span
                class="fs-5">{{forksmartFood.category}}</span></h2>
            <p class="p-4">{{forksmartFood.description}}</p>
          </div>
          <div class="show__vitamin text-dark">
            <h2 class="fs-4 py-1 border-bottom border-dark">Vitamin維他命</h2>
            <div class="show__vitamin-progress p-4 ">
              <div class="d-flex align-items-center justify-content-center mt-3">
                <a href="#" role="button" class="mt-2 mt-md-0 me-4 show__vitamin-name text-nowrap"
                  data-bs-toggle="modal" data-bs-target="#nutritionModal">維生素A</a>
                <div class="bar" data-label="A">
                  <div class="progressbar" data-done="{{forksmartFood.vitaminA}}">{{forksmartFood.vitaminA}}mg</div>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center mt-3">
                <a href="#" role="button" class="mt-2 mt-md-0 me-4 show__vitamin-name text-nowrap">維生素B</a>
                {{!-- <p class="mt-2 mt-md-0 me-4">維生素B</p> --}}
                <div class="bar" data-label="B">
                  <div class="progressbar" data-done="{{forksmartFood.vitaminB}}">{{forksmartFood.vitaminB}}mg</div>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center mt-3">
                <a href="#" role="button" class="mt-2 mt-md-0 me-4 show__vitamin-name text-nowrap">維生素D</a>
                {{!-- <p class="mt-2 mt-md-0 me-4">維生素D</p> --}}
                <div class="bar" data-label="D">
                  <div class="progressbar" data-done="{{forksmartFood.vitaminD}}">{{forksmartFood.vitaminD}}mg</div>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center mt-3">
                <a href="#" role="button" class="mt-2 mt-md-0 me-4 show__vitamin-name text-nowrap">維生素E</a>
                {{!-- <p class="mt-2 mt-md-0 me-4">維生素E</p> --}}
                <div class="bar" data-label="{{forksmartFood.vitaminE}}">
                  <div class="progressbar" data-done="5">{{forksmartFood.vitaminE}}mg</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!-- 下半部 --}}
    <div class="row pb-12 flex-column-reverse flex-lg-row align-items-center justify-content-center">
      <div class="col-10 col-md-10 col-lg-6">
        <div class="mt-8">
          <div class="text-dark">
            <h2 class="fs-4 py-1 border-bottom border-dark">新鮮月份</h2>
            <div class="row gx-3 flex-wrap my-2">
              <div class="col-2 mt-2">
                <div class="show__month show__month--1" data-label="Jan.">
                  <span class="material-symbols-outlined d-block text-center pt-1">
                    calendar_month
                  </span>
                </div>
              </div>
              <div class="col-2 mt-2">
                <div class="show__month show__month--2" data-label="Feb.">
                  <span class="material-symbols-outlined d-block text-center pt-1">
                    calendar_month
                  </span>
                </div>
              </div>
              <div class="col-2 mt-2">
                <div class="show__month show__month--3" data-label="Mar.">
                  <span class="material-symbols-outlined d-block text-center pt-1">
                    calendar_month
                  </span>
                </div>
              </div>
              <div class="col-2 mt-2">
                <div class="show__month show__month--4" data-label="Apr.">
                  <span class="material-symbols-outlined d-block text-center pt-1">
                    calendar_month
                  </span>
                </div>
              </div>
              <div class="col-2 mt-2">
                <div class="show__month show__month--5" data-label="May.">
                  <span class="material-symbols-outlined d-block text-center pt-1">
                    calendar_month
                  </span>
                </div>
              </div>
              <div class="col-2 mt-2">
                <div class="show__month show__month--6" data-label="Jun.">
                  <span class="material-symbols-outlined d-block text-center pt-1">
                    calendar_month
                  </span>
                </div>
              </div>
              <div class="col-2 mt-2">
                <div class="show__month show__month--7" data-label="Jul.">
                  <span class="material-symbols-outlined d-block text-center pt-1">
                    calendar_month
                  </span>
                </div>
              </div>
              <div class="col-2 mt-2">
                <div class="show__month show__month--8" data-label="Aug.">
                  <span class="material-symbols-outlined d-block text-center pt-1">
                    calendar_month
                  </span>
                </div>
              </div>
              <div class="col-2 mt-2">
                <div class="show__month show__month-noSeason show__month--9" data-label="Sep.">
                  <span class="material-symbols-outlined d-block text-center pt-1">
                    calendar_month
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="show__mineral text-dark">
            <h2 class="fs-4 py-1 border-bottom border-dark">Mineral礦物質</h2>
            <div class="show__mineral-progress p-4 ">
              <div class="d-md-flex align-items-center justify-content-center mt-md-3">
                <p class="mt-2 mt-md-0 me-md-4 text-nowrap">鈣</p>
                <div class="bar" data-label="calcium">
                  <div class="progressbar" data-done="{{forksmartFood.calcium}}">{{forksmartFood.calcium}}mg</div>
                </div>
              </div>
              <div class="d-md-flex align-items-center justify-content-center mt-md-3">
                <p class="mt-2 mt-md-0 me-md-4 text-nowrap">鐵</p>
                <div class="bar" data-label="iron">
                  <div class="progressbar" data-done="{{forksmartFood.iron}}">{{forksmartFood.iron}}mg</div>
                </div>
              </div>
              <div class="d-md-flex align-items-center justify-content-center mt-md-3">
                <p class="mt-2 mt-md-0 me-md-4 text-nowrap">鎂</p>
                <div class="bar" data-label="magnesium">
                  <div class="progressbar" data-done="{{forksmartFood.magnesium}}">{{forksmartFood.magnesium}}mg</div>
                </div>
              </div>
              <div class="d-md-flex align-items-center justify-content-center mt-md-3">
                <p class="mt-2 mt-md-0 me-md-4 text-nowrap">鋅</p>
                <div class="bar" data-label="zinc">
                  <div class="progressbar" data-done="{{forksmartFood.zinc}}">{{forksmartFood.zinc}}mg</div>
                </div>
              </div>
              <div class="d-md-flex align-items-center justify-content-center mt-md-3">
                <p class="mt-2 mt-md-0 me-md-4 text-nowrap">碘</p>
                <div class="bar" data-label="iodine">
                  <div class="progressbar" data-done="{{forksmartFood.iodine}}">{{forksmartFood.iodine}}mg</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-10 col-md-10 col-lg-6">
        <div class="show__image">
          <img src="{{forksmartFood.show_image2}}" class="w-100 rounded-3" alt="apple">
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

  {{!-- Nutrition Modal --}}
  <div class="modal" tabindex="-1" id="nutritionModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content p-2">
        <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-body">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="vitaminA_tab" data-bs-toggle="tab" data-bs-target="#vitaminA_tab"
                type="button" role="tab" aria-controls="vitaminA_tab"
                aria-selected="true">{{vitamin.vitaminA.vit_name}}</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="vitaminB_tab" data-bs-toggle="tab" data-bs-target="#vitaminB_tab"
                type="button" role="tab" aria-controls="vitaminB_tab"
                aria-selected="false">{{vitamin.vitaminB.vit_name}}</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
                type="button" role="tab" aria-controls="contact-tab-pane"
                aria-selected="false">{{vitamin.vitaminD.vit_name}}</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
                type="button" role="tab" aria-controls="contact-tab-pane"
                aria-selected="false">{{vitamin.vitaminE.vit_name}}</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="vitaminA_tab" role="tabpanel" aria-labelledby="home-tab"
              tabindex="0">
              <div class="d-md-flex text-dark">
                <div class="border-right py-2">
                  <p class="fw-bold">功效:</p>
                  <p>{{vitamin.vitaminA.vit_effect}}</p>
                </div>
                <div class="p-md-2">
                  <div class="py-2 border-md-bottom">
                    <p class="fw-bold">攝取過多時:</p>
                    <p>高劑量具有毒性，脂溶性的維生素A不易排出體外，會造成噁心、嘔吐、頭痛、肝臟異常、骨頭與皮膚異變。若懷孕期間攝取過多，會增加胎兒畸形與先天異常風險。</p>
                  </div>
                  <div class="py-2">
                    <p class="fw-bold">攝取過少時:</p>
                    <p>夜晚視力變差，出現夜盲症、乾眼症，嚴重時會產生結膜、角膜軟化潰瘍症，有失明之虞。皮膚粗糙乾燥，發生毛囊角化症。</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="vitaminB_tab" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
              ...</div>
            <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
              ...</div>
            <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab"
              tabindex="0">...
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</article>

<script src="/javascript/show.js"></script>